header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(../images/hero.jpeg);
    background-position: center;
    background-size: cover;
    padding-top: 180px;
}

#train{
    background: linear-gradient(rgba(255, 0, 0, 0.619),rgba(255, 0, 0, 0.619)) , url(../images/6.jpeg);
    background-size: cover;
    background-position: center;
}